<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="estilos/estilos.css">
	<html lang="pt-br">
	<meta charset="utf-8">
	<title>Layout fixo</title>
</head>
<body>	 
	 <div id="container"> <!------- Incio do container --------->
	 	 <div id="q1"> 
	 	 	<h1 class=nome> Layout Fixo </h1>

	 	  </div> 
	 	 	  <div id="q3"> Lateral </div>
	 	  <div id="q2"> Conteudo </div> 
	 
	 	  <div id="q4"> Navegacao </div>
	 	  <div id="q5"> Rodapé </div>
	 	</div> <!---------- Fim do container ---------->



</body>
</html>